<footer>
  <div class="container">
    <a href="">Volver arriba</a>
  </div>
  <div class="container">
    <a
      rel="license"
      href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
      target="_blank"
      ><img
        alt="Licencia de Creative Commons"
        style="border-width: 0"
        src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a
    ><br />Este obra está bajo una
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
      >licencia de Creative Commons</a
    >.
  </div>
  <div class="container">
    <a href="https://www.iberia.com/" target="_blank"
      ><button mat-button>
        <mat-icon>flight_takeoff</mat-icon>Reserva tu vuelo
      </button></a
    >
  </div>
</footer>
