$primary: #2B3856; //azul por el rio
$secondary: #009688; //verde por los parques
$backgrounds: #CCCCCC; //gris por los edificios
$backgroundResaltar: #F1C40F; //amarillo por los taxis
$buttons: #E74C3C; //rojo por las cabinas y los buses


