<nav>
  <mat-toolbar>
    <span>Visita Londres</span>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </ng-template>
      <app-home></app-home>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>location_city</mat-icon>
        <span>¿Qué ver?</span>
      </ng-template>
      <app-galeria></app-galeria>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>currency_pound</mat-icon>
        <span>Cambio de divisas</span>
      </ng-template>
      <app-divisas></app-divisas>
    </mat-tab>
  </mat-tab-group>
</nav>
